*:focus
{
    outline: none;
}

body
{
    font-family: Helvetica, Arial;
    margin: 0;
    background-color: #fff;
 
}
.app-cards{
    margin: auto;
    padding: 10px 10px 10px 10px;
}
#music-list{
    background-color: #eee;
    min-height: 500px;
    max-height: 700px;
    margin-bottom: 1px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}
#rating-list{
    min-height: 400px;
    max-height: 600px;
    padding-bottom: 15px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}
.happy-star-rating{
    line-height:28px;
    font-size:1.1em;
  }
.sad-star-rating{
    line-height:32px;
    font-size:1.1em;
  }
  
.happy-star-rating .fa-star{
    color: gold;
}

.sad-star-rating .fa-star{
    color: gold;
}
.annoying-star-rating{
    line-height:28px;
    font-size:1.1em;
  }
.anxious-star-rating{
    line-height:28px;
    font-size:1.1em;
  }
  
.annoying-star-rating .fa-star{
    color: gold;
}

.anxious-star-rating .fa-star{
    color: gold;
}

.relaxing-star-rating{
    line-height:28px;
    font-size:1.1em;
  }
.dreamy-star-rating{
    line-height:28px;
    font-size:1.1em;
  }
  
.relaxing-star-rating .fa-star{
    color: gold;
}

.dreamy-star-rating .fa-star{
    color: gold;
}

.energizing-star-rating{
    line-height:28px;
    font-size:1.1em;
  }
.neutral-star-rating{
    line-height:28px;
    font-size:1.1em;
  }
  
.energizing-star-rating .fa-star{
    color: gold;
}

.neutral-star-rating .fa-star{
    color: gold;
}

li{
    display: inline;
}

.header{
    padding: 5px 0px 5px 0px;
}

form.rating::after {
    content: "";
    clear: both;
    display: table;
  }
.badge-pill{
    font-size: 14px;
}

/**
Search
**/
/* Style the search field */
#search_text[type=text] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    max-width: 80%;
    background: #f1f1f1;
  }
input#search_text{
    max-height: 80px;
}
  
  /* Style the submit button */
#search_button{
    float: left;
    max-width: 20%;
    padding: 5px;
    background: #0d81e0;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  #select_source{
    padding: 5px;
  }



/**
Playlist
**/
#music-list li {
    cursor:pointer;
    display:block;
    margin:0;
    padding:5px 0;
    }
#music-list li:hover{
    background-color:rgba(0, 0, 0, .1);
}
.list-group-item{
    background-color: #eee;
}
iframe {
    border-radius: 20px;
    max-height: 50px;
  }
.song{
  max-height: 50px;
}
#toggle_rating{
    border-radius: 30px;
  }